<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add a new Comments to <%= book.name %></h1>
        <div class="formstyle">
            <form action="/books/<%= book._id %>/comments" method="POST">
                
                <div class="form-group">
                    <textarea name="comment[text]" class="form-control"></textarea>
                </div>
                <div class="from-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>  
                </div>
            </form>
            <a href="/books">Go Back</a>
        </div>
        
        
    </div>
</div>
<% include ../partials/footer %>