body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}
#landing-header h1 {
    color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1509569785882-4c160654309e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50a017034806c9eaf81d0477181f7f4b&auto=format&fit=crop&w=1050&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1509057199576-632a47484ece?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d7ea2f5ce026a39fce1a301a5a165a2&auto=format&fit=crop&w=1051&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1513545581681-9217042d29b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c95f0ea2768c222f671086d5ba6640d&auto=format&fit=crop&w=1050&q=80);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=53ebc875dc1eb4cad3f065ed65f60714&auto=format&fit=crop&w=1050&q=80);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1514823529749-16594073828c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=41dce261369a9ad34212781680079089&auto=format&fit=crop&w=1050&q=80);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}